---
import type { MarkdownLayoutProps } from 'astro';
type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  author: string;
  date: string;
}>;

// Now, `frontmatter`, `url`, and other Markdown layout properties
// are accessible with type safety
const { frontmatter, url } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- <link rel="canonical" href={new URL(url, Astro.site).pathname}> -->
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<h1>{frontmatter.title} by {frontmatter.author}</h1>
		<slot />
		<p>Written on: {frontmatter.date}</p>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
